@use "./../variables" as *;
@use "./../abstracts/mixins" as *;

%title{
  font-family: $font-title;
  @include font-size(120);
  font-weight: $font-light;
}

%slide{
  padding: 4rem 8rem 4rem 8rem;
}

// SLIDERS
//-----------------------------
.slide{
  @extend %slide;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
}

.slide__title{
  @extend %title;
  color: #ffffff;
  margin-top: -4rem;
  margin-bottom: 4rem;
  position: relative;
  margin-left: -2.5rem;
}

.slide__title small{
  position: absolute;
  top: 100%;
  text-transform: uppercase;
  @include font-size(18);
  font-weight: $font-semi-bold;
  left: 0;
  color: $color-black;
  transform: translate(2.5rem, -0.8rem);
  letter-spacing: 1px;
}

.slide__item{
  position: relative;
  z-index: 1;
}

.slide-content{
  line-height: 1.8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
}

.slide__subtitle{
  font-family: $font-title;
  text-transform: uppercase;
  @include font-size(18);
  font-weight: $font-semi-bold;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
}

.slide-tech__icon{
  width: 25px;
  margin-right: 0.6rem;
  display: none;
}

// SLIDER WORKS
//-----------------------------
$work-button-radius: 20rem;

.slide-works__button{
  position: absolute;
  z-index: 40;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  width: $work-button-radius;
  height: $work-button-radius;
  border-radius: 50%;
  transform: translate(40%, -40%);
  background-color: transparent;
  @include font-size(80);
  color: $color-black;
  font-weight: $font-semi-bold;
  font-family: $font-title;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-works__button img{
  display: block;
  transition: transform 600ms $ease-bounce;
  width: 40px;
  height: auto;
  margin-left: -20%;
  margin-top: 20%;
}

.slide-works__overlay{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  width: $work-button-radius;
  padding-bottom: $work-button-radius;
  border-radius: 50%;
  background-color: #ffffff;
  @include font-size(80);
  color: $color-black;
  font-weight: $font-semi-bold;
  transform: translate(40%, -40%);
  transition: width 700ms $ease-in-quart, padding-bottom 700ms $ease-in-quart;
}

.slide__works{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 10;
  opacity: 0;
  display: flex;
  align-items: center;

  @extend %slide;
  padding-left: 2rem;
  transition: opacity 200ms 1s;
  transition-delay: 0s;
}

.slide__works__wrapper.active .slide__works{
  opacity: 1;
  transition-delay: 0.10s;
}

.slide__works__wrapper.active .slide-works__overlay{
  width: 120%;
  padding-bottom: 120%;
}

.slide__works__wrapper.active .slide-works__button img{
  transform: rotate(135deg);
}

.slide-works__title{
  text-transform: uppercase;
  font-weight: $font-semi-bold;
  letter-spacing: 1px;
  @include font-size(18);
  font-family: $font-title;
  margin-bottom: 4rem;
}

.slide-works__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-works__item + .slide-works__item{
  margin-top: 3rem;
}

.slide-works-item__title{
  @include font-size(30);
  font-family: $font-title;
  text-transform: uppercase;
  margin: 0;
  font-weight: $font-semi-bold;
}

.slide-works-item__title a{
  text-decoration: none;
  transition: color 200ms $ease-in-quart;
}

@include on-hover(){
  .slide-works-item__title a:hover{
    color: $color-black;
  }
}

.slide-works-item__content{
  margin-top: 0;
  line-height: 1.8;
}

// SLIDER COLORS
//-----------------------------
.slide--pink{
  background-color: $color-theme-pink;
}

.slide--green{
  background-color: $color-theme-green;
}

.slide--yellow{
  background-color: $color-theme-yellow;
}

.slide--blue{
  background-color: $color-theme-blue;
}

.slide--pink .slide-works-item__title{
  color: $color-theme-pink;
}

.slide--green .slide-works-item__title{
  color: $color-theme-green;
}

.slide--yellow .slide-works-item__title{
  color: $color-theme-yellow;
}

.slide--blue .slide-works-item__title{
  color: $color-theme-blue;
}
