// SLIDES COLORS
//-----------------------------
.slide--pink{
  background-color: $color-theme-pink;
  *::selection{
    background-color: $color-theme-green;
  }
}

.slide--green{
  background-color: $color-theme-green;
  *::selection{
    background-color: $color-theme-pink;
  }
}

.slide--yellow{
  background-color: $color-theme-yellow;
  *::selection{
    background-color: $color-theme-blue;
  }
}

.slide--blue{
  background-color: $color-theme-blue;
  *::selection{
    background-color: $color-theme-yellow;
  }
}

.slide--pink .slide-works-item__title{
  color: $color-theme-pink;
}

.slide--green .slide-works-item__title{
  color: $color-theme-green;
}

.slide--yellow .slide-works-item__title{
  color: $color-theme-yellow;
}

.slide--blue .slide-works-item__title{
  color: $color-theme-blue;
}
