@use "./../variables" as *;
@use "./../abstracts/mixins" as *;

%title{
  font-family: $font-title;
  @include font-size-clamped(120);
  font-weight: $font-light;
}

%slide{
  padding: 4rem 8rem 4rem 8rem;
}

// SLIDES
//-----------------------------
.slide{
  @extend %slide;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
}

.slide__title{
  @extend %title;
  color: #ffffff;
  margin-top: -4rem;
  margin-bottom: 4rem;
  position: relative;
  margin-left: -2.5rem;
}

.slide__title small{
  position: absolute;
  top: 100%;
  text-transform: uppercase;
  @include font-size-clamped(18);
  font-weight: $font-semi-bold;
  left: 0;
  color: $color-black;
  transform: translate(2.5rem, -0.8rem);
  letter-spacing: 1px;
}

.slide__content{
  line-height: 1.8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

.slide__item{
  position: relative;
  z-index: 1;
}

.slide__subtitle{
  font-family: $font-title;
  text-transform: uppercase;
  @include font-size-clamped(18);
  font-weight: $font-semi-bold;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
}

.slide__subtitle--icon{
  @extend .slide__subtitle;
  margin-bottom: 1rem;
}

.slide__subtitle h2{
  font-size: inherit;
  margin: 0;
  line-height: 1;
}

.slide-tech__icon{
  width: 40px;
  margin-right: 0.6rem;
  filter: brightness(10%);
  transform: translateY(20%);
}

// RESPONSIVE
//-----------------------------
@include down(1200){
  .slide{
    padding: 4rem 4rem 4rem 6rem;
  }
}
