@use "./../variables" as *;

// SLIDES COLORS
//-----------------------------
.slide[data-slide-color="pink"]{
  background-color: $color-theme-pink;
  *::selection{
    background-color: $color-theme-green;
  }
}

.slide[data-slide-color="green"]{
  background-color: $color-theme-green;
  *::selection{
    background-color: $color-theme-pink;
  }
}

.slide[data-slide-color="yellow"]{
  background-color: $color-theme-yellow;
  *::selection{
    background-color: $color-theme-blue;
  }
}

.slide[data-slide-color="blue"]{
  background-color: $color-theme-blue;
  *::selection{
    background-color: $color-theme-yellow;
  }
}

// MAIN TITLES
//-----------------------------
.slide[data-slide-color="pink"] .slide-works-item__title{
  color: $color-theme-pink;
}

.slide[data-slide-color="green"] .slide-works-item__title{
  color: $color-theme-green;
}

.slide[data-slide-color="yellow"] .slide-works-item__title{
  color: $color-theme-yellow;
}

.slide[data-slide-color="blue"] .slide-works-item__title{
  color: $color-theme-blue;
}
