// SLIDER WORKS
//-----------------------------
$work-button-radius: 15rem;

.slide-works__button{
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  width: $work-button-radius;
  height: $work-button-radius;
  border-radius: 50%;
  transform: translate(40%, -40%);
  background-color: transparent;
  @include font-size(80);
  color: $color-black;
  font-weight: $font-semi-bold;
  font-family: $font-title;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-works__button img{
  display: block;
  transition: transform 600ms $ease-bounce;
  width: 40px;
  height: auto;
  margin-left: -20%;
  margin-top: 20%;
}

.slide-works__overlay{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  width: $work-button-radius;
  padding-bottom: $work-button-radius;
  border-radius: 50%;
  background-color: #ffffff;
  @include font-size(80);
  color: $color-black;
  font-weight: $font-semi-bold;
  transform: translate(40%, -40%);
  transition: width 700ms $ease-in-quart, padding-bottom 700ms $ease-in-quart;
}

.slide__works{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  display: flex;
  align-items: center;
  pointer-events: none;

  @extend %slide;
  transition: opacity 200ms 1s;
  transition-delay: 0s;
}

.slide__works__wrapper.active .slide__works{
  opacity: 1;
  transition-delay: 0.10s;
  pointer-events: all;
}

.slide__works__wrapper.active .slide-works__overlay{
  width: 200%;
  padding-bottom: 200%;
}

.slide__works__wrapper.active .slide-works__button img{
  transform: rotate(135deg);
}

.slide-works__title{
  text-transform: uppercase;
  font-weight: $font-semi-bold;
  letter-spacing: 1px;
  @include font-size(18);
  font-family: $font-title;
  margin-bottom: 4rem;
}

.slide-works__list{
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

.slide-works-item__title{
  @include font-size(30);
  font-family: $font-title;
  text-transform: uppercase;
  margin: 0;
  font-weight: $font-semi-bold;
  color: $color-theme-pink;
}

.slide-works-item__title a{
  text-decoration: none;
  transition: color 200ms $ease-in-quart;
}

@include on-hover(){
  .slide-works-item__title a:hover{
    color: $color-black;
  }
}

.slide-works-item__content{
  margin-top: 0;
  line-height: 1.8;
  padding-right: 2rem;
}
