// COLORS
//-----------------------------
$color-black: #141414;
$color-theme-yellow: #FFE600;
$color-theme-green: #4AFF70;
$color-theme-pink: #FF5E8F;

// FONTS
//-----------------------------
$default-font-size: 20;

$font-title: 'Spartan', sans-serif;
$font-text: 'Montserrat', sans-serif;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
