@use "./reset";
@use "./variables" as *;
@use "./abstracts/mixins" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @include root-size();
}

body{
  @include font-size-clamped(18);
  font-family: $font-text;
}

@import "./slides/slide";
@import "./slides/slide-works";
@import "./slides/slide-colors";
@import "./slides/slide-animations";
